*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  color: #2D2D2D;
  line-height: 1.6;
}
header{
    background: white;
    /* border:  2px solid black; */
    position: fixed;
    box-shadow: 4px 5px 7px#6B7280;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
}
.logo{
    color: #8B1E2D;
    font-size: 20px;
    font-weight: 700;
}
.navigation{
    text-align: center;
   

}
.navigation a{
   text-decoration: none;
   color: #2D2D2D; 
   margin-left: 20px;
}
.btn{
   background-color: #8B1E2D;
   color: white;
   padding: 9px 15px;
   border-radius: 5px;
   text-decoration: none;
    font-size: 1,3rem;
}
.section1{
    background: linear-gradient(to right, #8B1E2D,white);
    padding: 100px 0;
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    color: white;
}

.section2{
    text-align: justify;
    padding: 60px 250px;
    background: #F9FAFB;

}
h2{
    text-align: center;
    color: #8B1E2D;
}
h2 ,.paragraphe ,.btn2{
    margin: 10px 0
}
.content1{
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;

}
.c1{
    background: #F9FAFB;
    margin-left: 40px;
   border-radius: 15px;
   padding: 15px 30px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.c1:hover{
     transform: translateY(-8px);
     box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
    
.section4{
    text-align: center;
    background-color: #F9FAFB;
}
ul{
    margin: 20px 30px;
}
ul li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;

}
.section5{
    background-color: #8B1E2D;
    text-align: center;
    padding: 80px 90px;
    color: azure;
}
.couleur{
    color: #F9FAFB;
}
.btn2{
    text-decoration: none;
    background-color: #D4AF37;
    color: #2D2D2D;
    padding: 13px 24px;
    border-radius: 10px;
    font-weight: bold;
    /* margin-bottom: 100px; */
}
